*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 400px;
    width: 300px;
}
#error{
    display: none;
    color: red;
    padding: 20px 0px;
}
main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color:#2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.name{
    display:  none;
}
.name label{
    font-size: 20px;
    padding: 5px 0px;
    font-weight: bold;
    color: #00ffcc;
    text-shadow: 0px 0px 5px #fff;
}
.name input{
    width: 250px;
    height: 40px;
    font-size: 20px;
    outline: none;
    border: 1px solid #e74c3c;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 5px 0;
}
.name button,#edit{
    margin: 10px 0;
    font-size: 20px;
    padding: 8px 25px;
    cursor: pointer;
    background: #3498db;
    color: #fff;
    border: 2px solid #3498db;
    border-radius: 5px;
    transition: all  ease-in-out .2s;
}
.name button:hover,#edit:hover{
    background: #fff;
    color:#000;
}
.name button:active,#edit:active{
    color: #fff;
    background: transparent;
}
.welcome p{
    position: absolute;
    color: #fff;
    font-size: 18px;
    top: 20px;
    right: 10px;
}
.jokes{
    margin: 10px 0px;
}
.jokes h3{
    color: #17a2b8;
    font-size: 25px;
    padding: 0px 25px;
    /* text-align: justify; */
}
.edit,footer{
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#edit{
    font-size: 15px;
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
}
footer{
    font-size: 10px;
    bottom: 5px;
    color: #fff;
}
footer a{
    text-decoration: none;
    color: aqua;
}