* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//Variables
$red: #ff0000;
$aqua:#00ffff;
$darkred:#e74c3c;
$bg:#2c3e50;
$lightgreen:#00ffcc;
$white:#fff;
$lightblue:#3498db;
$darkblue:#17a2b8;
$black:#000;
//Mixins
@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body {
    height: 400px;
    width: 300px;
    main {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: $bg;
       @include flexCenter;
        text-align: center;
        #error {
            display: none;
            color: $red;
            padding: 20px 0px;
        }
        .name {
            display: none;
            label {
                font-size: 20px;
                padding: 5px 0px;
                font-weight: bold;
                color: $lightgreen;
                text-shadow: 0px 0px 5px $white;
            }
            input {
                width: 250px;
                height: 40px;
                font-size: 20px;
                outline: none;
                border: 1px solid $darkred;
                border-radius: 5px;
                padding: 3px 5px;
                margin: 5px 0;
            }
            button {
                margin: 10px 0;
                font-size: 20px;
                padding: 8px 25px;
                cursor: pointer;
                background: $lightblue;
                color: $white;
                border: 2px solid $lightblue;
                border-radius: 5px;
                transition: all ease-in-out .2s;
                &:hover {
                    background: $white;
                    color: $black;
                }
                &:active {
                    color: $white;
                    background: transparent;
                }
            }
        }
        .wrapper {
            .welcome {
                p {
                    position: absolute;
                    color: $white;
                    font-size: 18px;
                    top: 20px;
                    right: 10px;
                }
            }
            .jokes {
                margin: 10px 0px;
                h3 {
                    color: $darkblue;
                    font-size: 25px;
                    padding: 0px 25px;
                }
            }
            .edit {
                position: absolute;
                bottom: 20px;
                right: 10px;
                #edit {
                    margin: 10px 0;
                    cursor: pointer;
                    background: $lightblue;
                    color: $white;
                    border: 2px solid $lightblue;
                    transition: all ease-in-out .2s;
                    font-size: 15px;
                    padding: 2px 5px;
                    border-radius: 5px;
                    border: none;
                    &:hover {
                        background: $white;
                        color: $black;
                    }
                    &:active {
                        color: $white;
                        background: transparent;
                    }
                }
            }
        }
        footer{
            position: absolute;
            right: 10px;
            font-size: 10px;
            bottom: 5px;
            color: $white;
            a{
                text-decoration: none;
                color: $aqua;
            }
        }
    }
}